/* CSS declarations go here */
.btn-block {
  width: 100%;
}


.text-center {
	text-align: center;
}


  .tabs .tab a{
            color:#1e88e5;
        } /*Black color to the text*/

        .tabs .tab a:hover {
            background-color:#fafafa;
            color:#66bb6a;
        } /*Text color on hover*/

        .tabs .tab a.active {
            background-color:#ffffff;
            color:#1976d2;
        } /*Background and text color when a tab is active*/

        .tabs .indicator {
            background-color:#1e88e5;
        } /*Color of underline*/
